In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import numpy as np

pd.options.mode.chained_assignment = None  # default='warn'
plt.style.use('seaborn-notebook')

In [3]:
precio_leche = pd.read_pickle('saved/precio_leche.pkl')
precipitaciones = pd.read_pickle('saved/precipitaciones.pkl')
banco_central = pd.read_pickle('saved/banco_central.pkl')

## Datos y limpieza de datos

### Precipitaciones

In [4]:
precipitaciones['date'] = pd.to_datetime(precipitaciones['date'], format = '%Y-%m-%d')
precipitaciones = precipitaciones.sort_values(by = 'date', ascending = True).reset_index(drop = True)
precipitaciones

,date,Coquimbo,Valparaiso,Metropolitana_de_Santiago,Libertador_Gral__Bernardo_O_Higgins,Maule,Biobio,La_Araucania,Los_Rios
0,1979-01-01,2.641948,0.587062,2.447114,1.608992,3.736215,17.859634,25.212940,45.596447
1,1979-02-01,1.179804,2.432192,3.997852,4.346310,16.347637,17.680612,18.085072,34.075039
2,1979-03-01,0.255490,0.020601,0.000000,0.055488,0.545324,14.435698,28.696504,66.232248
3,1979-04-01,10.173699,11.745779,13.722349,12.989194,21.880607,39.136483,43.617921,73.548127
4,1979-05-01,1.039098,18.609286,50.187148,104.451550,143.914334,219.729235,279.409718,438.005116
...,...,...,...,...,...,...,...,...,...
491,2019-12-01,0.287895,0.165390,3.601443,6.198806,11.327313,14.014122,27.321858,62.170090
492,2020-01-01,3.299797,2.003685,6.937148,6.154279,7.875591,19.518225,35.916618,63.389625
493,2020-02-01,0.179216,0.003701,0.032064,0.017628,0.200483,10.108504,29.001988,55.838889
494,2020-03-01,0.003451,0.000666,0.000000,0.000000,0.115566,12.462699,28.310937,73.640866
495,2020-04-01,0.556085,4.664708,16.033775,19.795752,37.348511,66.764275,73.813290,140.076757

In [5]:
precipitaciones[precipitaciones.isna().any(axis=1)] #no tiene nans

Empty DataFrame
Columns: [date, Coquimbo, Valparaiso, Metropolitana_de_Santiago, Libertador_Gral__Bernardo_O_Higgins, Maule, Biobio, La_Araucania, Los_Rios]
Index: []

In [6]:
precipitaciones[precipitaciones.duplicated(subset = 'date', keep = False)] #ni repetidos

Empty DataFrame
Columns: [date, Coquimbo, Valparaiso, Metropolitana_de_Santiago, Libertador_Gral__Bernardo_O_Higgins, Maule, Biobio, La_Araucania, Los_Rios]
Index: []

In [7]:
regiones = ['Coquimbo', 'Valparaiso', 'Metropolitana_de_Santiago',
       'Libertador_Gral__Bernardo_O_Higgins', 'Maule', 'Biobio',
       'La_Araucania', 'Los_Rios']
precipitaciones[regiones].describe()

,Coquimbo,Valparaiso,Metropolitana_de_Santiago,Libertador_Gral__Bernardo_O_Higgins,Maule,Biobio,La_Araucania,Los_Rios
count,496.000000,496.000000,496.000000,496.000000,496.000000,496.000000,496.000000,496.000000
mean,16.154691,32.450980,49.666682,72.249805,98.662773,128.113406,151.486456,199.451789
std,32.629286,55.434330,74.361099,101.426112,122.766771,130.056094,126.628503,140.073615
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.001170,0.005331,0.748127
25%,0.821521,1.538162,5.297546,5.343992,11.897363,29.356684,52.930343,89.805643
50%,4.071036,9.037825,19.087592,25.995969,45.649888,79.558557,110.570990,159.467940
75%,16.137600,38.409213,63.408364,101.875093,142.230716,184.751307,208.316243,274.594590
max,347.133889,441.048604,524.592667,645.515752,759.177712,702.434707,661.211203,717.735673

In [8]:
precipitaciones.dtypes

date                                   datetime64[ns]
Coquimbo                                      float64
Valparaiso                                    float64
Metropolitana_de_Santiago                     float64
Libertador_Gral__Bernardo_O_Higgins           float64
Maule                                         float64
Biobio                                        float64
La_Araucania                                  float64
Los_Rios                                      float64
dtype: object

### Banco central

banco_central

In [9]:
banco_central['Periodo'] = banco_central['Periodo'].apply(lambda x: x[0:10])

banco_central['Periodo'] = pd.to_datetime(banco_central['Periodo'], format = '%Y-%m-%d', errors = 'coerce')
display(banco_central.head())
print(banco_central.columns)

,Periodo,Imacec_empalmado,Imacec_produccion_de_bienes,Imacec_minero,Imacec_industria,Imacec_resto_de_bienes,Imacec_comercio,Imacec_servicios,Imacec_a_costo_de_factores,Imacec_no_minero,...,Indice_de_tipo_de_cambio_real___TCR_promedio_1986_100,Indice_de_produccion_industrial,Indice_de_produccion_industrial__mineria,Indice_de_produccion_industrial_electricidad__gas_y_agua,Indice_de_produccion_industrial__manufacturera,Generacion_de_energia_electrica_CDEC_GWh,Indice_de_ventas_comercio_real_IVCM,Indice_de_ventas_comercio_real_no_durables_IVCM,Indice_de_ventas_comercio_real_durables_IVCM,Ventas_autos_nuevos
0,2013-03-01,102.796.218,10.546.824,978.554.365,102.297.537,114.994.919,110.729.395,100.064.328,103.163.651,103.405.852,...,865.903.468,102.761.705,98.915.705,NaN,108.387.837,580.480.672,NaN,NaN,NaN,28577.0
1,2013-04-01,101.664.842,999.272.757,927.333.293,104.485.589,102.199.311,106.098.291,102.600.107,101.937.319,102.766.884,...,867.806.065,968.087.179,914.276.663,NaN,104.545.429,544.815.032,NaN,NaN,NaN,32206.0
2,2013-05-01,101.642.954,993.959.922,96.133.164,105.445.361,968.789.055,100.462.117,104.083.216,101.953.299,102.322.796,...,878.030.947,978.471.874,966.913.278,NaN,99.468.801,56.891.916,NaN,NaN,NaN,31589.0
3,2013-06-01,998.310.201,968.367.884,102.400.933,999.212.106,89.190.493,939.504.414,103.857.161,100.222.381,995.139.235,...,913.180.348,966.647.135,981.820.974,NaN,94.969.678,56.594.867,NaN,NaN,NaN,28457.0
4,2013-07-01,964.696.194,961.051.418,980.029.022,100.882.112,901.785.886,92.776.599,969.309.272,962.069.134,962.804.305,...,909.263.447,100.100.749,990.198.382,NaN,102.128.977,586.329.899,NaN,NaN,NaN,31736.0

Index(['Periodo', 'Imacec_empalmado', 'Imacec_produccion_de_bienes',
       'Imacec_minero', 'Imacec_industria', 'Imacec_resto_de_bienes',
       'Imacec_comercio', 'Imacec_servicios', 'Imacec_a_costo_de_factores',
       'Imacec_no_minero', 'PIB_Agropecuario_silvicola', 'PIB_Pesca',
       'PIB_Mineria', 'PIB_Mineria_del_cobre', 'PIB_Otras_actividades_mineras',
       'PIB_Industria_Manufacturera', 'PIB_Alimentos', 'PIB_Bebidas_y_tabaco',
       'PIB_Textil', 'PIB_Maderas_y_muebles', 'PIB_Celulosa',
       'PIB_Refinacion_de_petroleo', 'PIB_Quimica',
       'PIB_Minerales_no_metalicos_y_metalica_basica',
       'PIB_Productos_metalicos', 'PIB_Electricidad', 'PIB_Construccion',
       'PIB_Comercio', 'PIB_Restaurantes_y_hoteles', 'PIB_Transporte',
       'PIB_Comunicaciones', 'PIB_Servicios_financieros',
       'PIB_Servicios_empresariales', 'PIB_Servicios_de_vivienda',
       'PIB_Servicios_personales', 'PIB_Administracion_publica',
       'PIB_a_costo_de_factores', 'Impuesto_al_valor_agregado',
       'Derechos_de_Importacion', 'PIB',
       'Precio_de_la_gasolina_en_EEUU_dolaresm3',
       'Precio_de_la_onza_troy_de_oro_dolaresoz',
       'Precio_de_la_onza_troy_de_plata_dolaresoz',
       'Precio_del_cobre_refinado_BML_dolareslibra',
       'Precio_del_diesel_centavos_de_dolargalon',
       'Precio_del_gas_natural_dolaresmillon_de_unidades_termicas_britanicas',
       'Precio_del_petroleo_Brent_dolaresbarril',
       'Precio_del_kerosene_dolaresm3',
       'Precio_del_petroleo_WTI_dolaresbarril',
       'Precio_del_propano_centavos_de_dolargalon_DTN',
       'Tipo_de_cambio_del_dolar_observado_diario', 'Ocupados',
       'Ocupacion_en_Agricultura_INE',
       'Ocupacion_en_Explotacion_de_minas_y_canteras_INE',
       'Ocupacion_en_Industrias_manufactureras_INE',
       'Ocupacion_en_Suministro_de_electricidad_INE',
       'Ocupacion_en_Actividades_de_servicios_administrativos_y_de_apoyo_INE',
       'Ocupacion_en_Actividades_profesionales_INE',
       'Ocupacion_en_Actividades_inmobiliarias_INE',
       'Ocupacion_en_Actividades_financieras_y_de_seguros_INE',
       'Ocupacion_en_Informacion_y_comunicaciones_INE',
       'Ocupacion_en_Transporte_y_almacenamiento_INE',
       'Ocupacion_en_Actividades_de_alojamiento_y_de_servicio_de_comidas_INE',
       'Ocupacion_en_Construccion_INE', 'Ocupacion_en_Comercio_INE',
       'Ocupacion_en_Suministro_de_agua_evacuacion_de_aguas_residuales_INE',
       'Ocupacion_en_Administracion_publica_y_defensa_INE',
       'Ocupacion_en_Enseanza_INE',
       'Ocupacion_en_Actividades_de_atencion_de_la_salud_humana_y_de_asistencia_social_INE',
       'Ocupacion_en_Actividades_artisticas_INE',
       'Ocupacion_en_Otras_actividades_de_servicios_INE',
       'Ocupacion_en_Actividades_de_los_hogares_como_empleadores_INE',
       'Ocupacion_en_Actividades_de_organizaciones_y_organos_extraterritoriales_INE',
       'No_sabe__No_responde_Miles_de_personas',
       'Tipo_de_cambio_nominal_multilateral___TCM',
       'Indice_de_tipo_de_cambio_real___TCR_promedio_1986_100',
       'Indice_de_produccion_industrial',
       'Indice_de_produccion_industrial__mineria',
       'Indice_de_produccion_industrial_electricidad__gas_y_agua',
       'Indice_de_produccion_industrial__manufacturera',
       'Generacion_de_energia_electrica_CDEC_GWh',
       'Indice_de_ventas_comercio_real_IVCM',
       'Indice_de_ventas_comercio_real_no_durables_IVCM',
       'Indice_de_ventas_comercio_real_durables_IVCM', 'Ventas_autos_nuevos'],
      dtype='object')

In [10]:
banco_central[banco_central.duplicated(subset = 'Periodo', keep = False)] #repetido se elimina

,Periodo,Imacec_empalmado,Imacec_produccion_de_bienes,Imacec_minero,Imacec_industria,Imacec_resto_de_bienes,Imacec_comercio,Imacec_servicios,Imacec_a_costo_de_factores,Imacec_no_minero,...,Indice_de_tipo_de_cambio_real___TCR_promedio_1986_100,Indice_de_produccion_industrial,Indice_de_produccion_industrial__mineria,Indice_de_produccion_industrial_electricidad__gas_y_agua,Indice_de_produccion_industrial__manufacturera,Generacion_de_energia_electrica_CDEC_GWh,Indice_de_ventas_comercio_real_IVCM,Indice_de_ventas_comercio_real_no_durables_IVCM,Indice_de_ventas_comercio_real_durables_IVCM,Ventas_autos_nuevos
65,2018-08-01,109.690.834,994.693.267,101.027.633,1.051.861,931.900.957,106.248.833,117.404.143,109.458.386,110.578.221,...,911.086.301,102.691.109,983.228.221,108.792.744,105.596.535,654.060.172,113.525.936,103.995.337,15.375.472,38729.0
66,2018-08-01,109.690.834,994.693.267,101.027.633,1.051.861,931.900.957,106.248.833,117.404.143,109.458.386,110.578.221,...,911.086.301,102.691.109,983.228.221,108.792.744,105.596.535,654.060.172,113.525.936,103.995.337,15.375.472,38729.0
78,2019-08-01,113.886.371,103.237.519,106.828.407,105.153.122,984.395.274,106.901.816,122.596.004,113.695.907,114.580.893,...,948.715.254,104.034.103,102.619.922,107.666.732,104.591.452,6598,116.203.109,107.385.297,15.342.321,33059.0
79,2019-08-01,113.886.371,103.237.519,106.828.407,105.153.122,984.395.274,106.901.816,122.596.004,113.695.907,114.580.893,...,948.715.254,104.034.103,102.619.922,107.666.732,104.591.452,6598,116.203.109,107.385.297,15.342.321,33059.0

In [11]:
banco_central.drop_duplicates(subset = 'Periodo', inplace = True)
banco_central = banco_central[~banco_central.Periodo.isna()]

In [12]:
def convert_int(x):
    return int(x.replace('.', ''))

cols_pib = [x for x in list(banco_central.columns) if 'PIB' in x]
cols_pib.extend(['Periodo'])
banco_central_pib = banco_central[cols_pib]
banco_central_pib = banco_central_pib.dropna(how = 'any', axis = 0)

for col in cols_pib:
    if col == 'Periodo':
        continue
    else:
        banco_central_pib[col] = banco_central_pib[col].apply(lambda x: convert_int(x))

banco_central_pib.sort_values(by = 'Periodo', ascending = True)
banco_central_pib

,PIB_Agropecuario_silvicola,PIB_Pesca,PIB_Mineria,PIB_Mineria_del_cobre,PIB_Otras_actividades_mineras,PIB_Industria_Manufacturera,PIB_Alimentos,PIB_Bebidas_y_tabaco,PIB_Textil,PIB_Maderas_y_muebles,...,PIB_Transporte,PIB_Comunicaciones,PIB_Servicios_financieros,PIB_Servicios_empresariales,PIB_Servicios_de_vivienda,PIB_Servicios_personales,PIB_Administracion_publica,PIB_a_costo_de_factores,PIB,Periodo
0,579846819,570624122,123491343,110356254,131350889,130648285,367818436,162692807,330305467,643366109,...,546694889,337915263,5691837,11393886,793471519,140103913,512994015,108482797,118109613,2013-03-01
1,374895706,606504665,11702736,10358806,134393001,133442735,38211344,188189562,380345362,684106836,...,544306818,348801015,565071466,121229491,80455108,144685333,511803995,107193235,116809697,2013-04-01
2,311356127,545573168,121317874,107784409,135334655,134668498,37345015,184115565,342850811,686925227,...,536681481,355711814,571394036,125792137,805307434,147859706,512469359,107210039,116784548,2013-05-01
3,246592082,418668119,129227656,115404932,138227237,127613384,323857815,17224193,290637238,667221833,...,526589163,353452988,573271479,125565876,811366828,146903407,514736611,105389875,114702694,2013-06-01
4,201156433,565897618,123677441,10915864,145188012,128840589,327206582,163572934,277405414,692167097,...,536446432,353028667,574971364,124038548,813086052,108506835,515375539,101167369,11084055,2013-07-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,188331918,707214659,1324928,119520525,130720477,123810329,369570934,13719304,164021248,67608185,...,441549174,42522432,715080906,113112652,911758222,116566888,615639916,101614557,111070003,2020-07-01
92,15867781,614712298,130864273,117055913,138696143,125163085,348252328,145265267,181336575,695058355,...,471891836,407014189,711575686,110732905,919298916,140456962,617357193,105754404,116407225,2020-08-01
93,169746171,468872234,126941868,114236494,127906055,12788268,334311036,154593729,206059133,707756582,...,509565911,439254033,720980294,127546136,948454602,131205334,619801512,107849829,118574799,2020-09-01
143,555875498,454921898,120112803,106165654,139471494,127226524,331215957,171180702,310805622,62929711,...,53672742,36993507,571866642,123185498,821085632,762087515,506965418,100532954,109771386,2013-01-01
144,622149258,428440275,108170617,956013784,125692383,117429317,330795404,165000213,298216816,594449176,...,516098618,321339691,573744733,111314028,799789737,666776635,509757835,953924171,104022977,2013-02-01

In [13]:
def to_100(x): #mirando datos del bc, pib existe entre ~85-120 - igual esto es cm (?)
    x = x.split('.')
    if x[0].startswith('1'): #es 100+
        if len(x[0]) >2:
            return float(x[0] + '.' + x[1])
        else:
            x = x[0]+x[1]
            return float(x[0:3] + '.' + x[3:])
    else:
        if len(x[0])>2:
            return float(x[0][0:2] + '.' + x[0][-1])
        else:
            x = x[0] + x[1]
            return float(x[0:2] + '.' + x[2:])

        
cols_imacec = [x for x in list(banco_central.columns) if 'Imacec' in x]
cols_imacec.extend(['Periodo'])
banco_central_imacec = banco_central[cols_imacec]
banco_central_imacec = banco_central_imacec.dropna(how = 'any', axis = 0)

for col in cols_imacec:
    if col == 'Periodo':
        continue
    else:
        banco_central_imacec[col] = banco_central_imacec[col].apply(lambda x: to_100(x))
        assert(banco_central_imacec[col].max()>100)
        assert(banco_central_imacec[col].min()>30)

banco_central_imacec.sort_values(by = 'Periodo', ascending = True)
banco_central_imacec

,Imacec_empalmado,Imacec_produccion_de_bienes,Imacec_minero,Imacec_industria,Imacec_resto_de_bienes,Imacec_comercio,Imacec_servicios,Imacec_a_costo_de_factores,Imacec_no_minero,Periodo
0,102.796,105.46,97.800,102.297,114.994,110.729,100.064,103.163,103.405,2013-03-01
1,101.664,99.90,92.700,104.485,102.199,106.098,102.600,101.937,102.766,2013-04-01
2,101.642,99.30,96.133,105.445,96.800,100.462,104.083,101.953,102.322,2013-05-01
3,99.800,96.80,102.400,99.900,89.190,93.900,103.857,100.222,99.500,2013-06-01
4,96.400,96.10,98.000,100.882,90.100,92.776,96.900,96.200,96.200,2013-07-01
...,...,...,...,...,...,...,...,...,...,...
609,79.200,80.90,84.400,86.200,72.100,64.000,82.900,79.900,78.600,2008-08-01
610,78.600,81.40,87.500,85.990,69.300,62.900,81.000,79.100,77.200,2008-09-01
611,84.100,89.60,98.000,88.900,79.386,65.300,85.600,85.038,81.800,2008-10-01
612,82.846,84.50,86.400,83.063,84.300,63.800,88.100,83.800,82.500,2008-11-01
613,88.100,98.30,107.050,88.800,95.500,81.000,82.000,88.700,84.700,2008-12-01

In [14]:
banco_central_iv = banco_central[['Indice_de_ventas_comercio_real_no_durables_IVCM', 'Periodo']]
banco_central_iv = banco_central_iv.dropna() # -unidades? #parte 
banco_central_iv = banco_central_iv.sort_values(by = 'Periodo', ascending = True)

In [15]:
banco_central_iv.head() #unidades? https://si3.bcentral.cl/siete/ES/Siete/Canasta?idCanasta=M57TP1161519 porcentajes?

   Indice_de_ventas_comercio_real_no_durables_IVCM    Periodo
10                                     943.909.236 2014-01-01
11                                     928.126.259 2014-02-01
12                                     101.583.412 2014-03-01
13                                     963.546.529 2014-04-01
14                                     998.625.376 2014-05-01

In [16]:
banco_central_iv['num'] = banco_central_iv.Indice_de_ventas_comercio_real_no_durables_IVCM.apply(lambda x: to_100(x))
banco_central_iv

   Indice_de_ventas_comercio_real_no_durables_IVCM    Periodo      num
10                                     943.909.236 2014-01-01   94.300
11                                     928.126.259 2014-02-01   92.800
12                                     101.583.412 2014-03-01  101.583
13                                     963.546.529 2014-04-01   96.300
14                                     998.625.376 2014-05-01   99.800
..                                             ...        ...      ...
90                                     824.851.611 2020-06-01   82.400
91                                     878.226.907 2020-07-01   87.800
92                                     107.356.493 2020-08-01  107.356
93                                     107.622.401 2020-09-01  107.622
94                                     114.265.499 2020-10-01  114.265

[82 rows x 3 columns]

In [17]:
banco_central_iv.Periodo.min()

Timestamp('2014-01-01 00:00:00')

In [18]:
banco_central_iv.Periodo.max()

Timestamp('2020-10-01 00:00:00')

In [19]:
banco_central_num = pd.merge(banco_central_pib, banco_central_imacec, on = 'Periodo', how = 'inner')
banco_central_num = pd.merge(banco_central_num, banco_central_iv, on = 'Periodo', how = 'inner')

### Variable a predecir: precio leche

In [20]:
precio_leche

     Anio  Mes  Precio_leche
0    1979  Ene          3.85
1    1979  Feb          4.58
2    1979  Mar          5.18
3    1979  Abr          6.06
4    1979  May          7.25
..    ...  ...           ...
501  2020  Oct        274.32
502  2020  Nov        288.09
503  2020  Dic        287.29
504  2021  Ene        287.60
505  2021  Feb        295.24

[506 rows x 3 columns]

In [21]:
mes_dic = {'Ene': 1, 'Feb': 2, 'Mar': 3, 'Abr': 4, 'May': 5, 'Jun': 6, 'Jul': 7, 'Ago': 8, 'Sep': 9, 'Oct': 10, 'Nov': 11, 'Dic': 12}

precio_leche.rename(columns = {'Anio': 'ano', 'Mes': 'mes_pal'}, inplace = True) # precio = nominal, sin iva en clp/litro
# precio_leche['mes_pal'] = precio_leche['mes_pal'] + '.' ## Workaround
# precio_leche['mes'] = pd.to_datetime(precio_leche['mes_pal'], format = '%b')
precio_leche['mes'] = precio_leche['mes_pal'].apply(lambda x: mes_dic[x])
precio_leche['mes-ano'] = precio_leche.apply(lambda x: f'{x.mes}-{x.ano}', axis = 1)
precio_leche.head()

    ano mes_pal  Precio_leche  mes mes-ano
0  1979    Ene.          3.85    1  1-1979
1  1979    Feb.          4.58    2  2-1979
2  1979    Mar.          5.18    3  3-1979
3  1979    Abr.          6.06    4  4-1979
4  1979    May.          7.25    5  5-1979

In [22]:
precipitaciones['mes'] = precipitaciones.date.apply(lambda x: x.month)
precipitaciones['ano'] = precipitaciones.date.apply(lambda x: x.year)
precio_leche_pp = pd.merge(precio_leche, precipitaciones, on = ['mes', 'ano'], how = 'inner')
precio_leche_pp.drop('date', axis = 1, inplace = True)
precio_leche_pp #precipitaciones fecha_max = 2020-04-01

,ano,mes_pal,Precio_leche,mes,mes-ano,Coquimbo,Valparaiso,Metropolitana_de_Santiago,Libertador_Gral__Bernardo_O_Higgins,Maule,Biobio,La_Araucania,Los_Rios
0,1979,Ene.,3.85,1,1-1979,2.641948,0.587062,2.447114,1.608992,3.736215,17.859634,25.212940,45.596447
1,1979,Feb.,4.58,2,2-1979,1.179804,2.432192,3.997852,4.346310,16.347637,17.680612,18.085072,34.075039
2,1979,Mar.,5.18,3,3-1979,0.255490,0.020601,0.000000,0.055488,0.545324,14.435698,28.696504,66.232248
3,1979,Abr.,6.06,4,4-1979,10.173699,11.745779,13.722349,12.989194,21.880607,39.136483,43.617921,73.548127
4,1979,May.,7.25,5,5-1979,1.039098,18.609286,50.187148,104.451550,143.914334,219.729235,279.409718,438.005116
...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,2019,Dic.,253.86,12,12-2019,0.287895,0.165390,3.601443,6.198806,11.327313,14.014122,27.321858,62.170090
492,2020,Ene.,254.10,1,1-2020,3.299797,2.003685,6.937148,6.154279,7.875591,19.518225,35.916618,63.389625
493,2020,Feb.,270.15,2,2-2020,0.179216,0.003701,0.032064,0.017628,0.200483,10.108504,29.001988,55.838889
494,2020,Mar.,279.88,3,3-2020,0.003451,0.000666,0.000000,0.000000,0.115566,12.462699,28.310937,73.640866
495,2020,Abr.,316.25,4,4-2020,0.556085,4.664708,16.033775,19.795752,37.348511,66.764275,73.813290,140.076757

In [23]:
banco_central_num['mes'] = banco_central_num['Periodo'].apply(lambda x: x.month)
banco_central_num['ano'] = banco_central_num['Periodo'].apply(lambda x: x.year)
precio_leche_pp_pib = pd.merge(precio_leche_pp, banco_central_num, on = ['mes', 'ano'], how = 'inner')
precio_leche_pp_pib.drop(['Periodo', 'Indice_de_ventas_comercio_real_no_durables_IVCM', 'mes-ano', 'mes_pal'], axis =1, inplace = True)
precio_leche_pp_pib

,ano,Precio_leche,mes,Coquimbo,Valparaiso,Metropolitana_de_Santiago,Libertador_Gral__Bernardo_O_Higgins,Maule,Biobio,La_Araucania,...,Imacec_empalmado,Imacec_produccion_de_bienes,Imacec_minero,Imacec_industria,Imacec_resto_de_bienes,Imacec_comercio,Imacec_servicios,Imacec_a_costo_de_factores,Imacec_no_minero,num
0,2014,213.02,1,3.524673,2.378766,7.278272,4.804760,7.831522,33.684003,96.707966,...,97.600,101.540,97.700,98.500,107.470,103.244,93.851,97.687,97.500,94.300
1,2014,219.03,2,1.688856,8.389854,17.803070,7.295178,3.015932,22.186197,43.157411,...,93.500,98.200,94.200,91.800,107.454,102.175,88.800,93.710,93.400,92.800
2,2014,227.45,3,2.237203,5.082094,5.403087,15.025209,31.280017,78.854388,128.113100,...,105.885,107.308,101.285,105.167,114.516,117.370,103.080,106.096,106.453,101.583
3,2014,232.47,4,0.954797,2.044854,11.612500,17.549566,49.346997,91.352068,108.177327,...,103.133,100.710,97.400,103.903,100.708,106.543,105.138,103.606,103.829,96.300
4,2014,244.29,5,2.484941,22.233003,59.984144,134.375287,174.540865,196.509109,250.971478,...,103.643,101.511,106.591,103.056,95.600,103.126,105.888,103.961,103.279,99.800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,2019,253.86,12,0.287895,0.165390,3.601443,6.198806,11.327313,14.014122,27.321858,...,122.347,123.733,113.048,112.460,141.504,136.104,115.830,120.908,123.293,139.938
72,2020,254.10,1,3.299797,2.003685,6.937148,6.154279,7.875591,19.518225,35.916618,...,110.288,110.053,97.100,107.389,122.090,121.522,108.043,110.123,111.698,106.139
73,2020,270.15,2,0.179216,0.003701,0.032064,0.017628,0.200483,10.108504,29.001988,...,106.982,109.066,97.000,101.005,124.713,119.993,102.962,106.934,108.021,107.607
74,2020,279.88,3,0.003451,0.000666,0.000000,0.000000,0.115566,12.462699,28.310937,...,114.025,114.239,102.936,106.375,129.143,121.312,113.370,114.477,115.187,102.108
75,2020,316.25,4,0.556085,4.664708,16.033775,19.795752,37.348511,66.764275,73.813290,...,98.800,100.570,98.600,96.900,104.850,92.600,100.658,99.848,98.700,76.300

#### Variables a usar: se eligen las variables relacionadas con el PIB del BC, el IMACEC empalmado, el Ã­ndice de ventas de comercio real no durable, las precipitaciones y el precio de la leche (n-1) --> Para todas estas se utiliza el indicador del mes anterior y mean/std de 3 meses acumulados

In [24]:
cc_cols = [x for x in precio_leche_pp_pib.columns if x not in ['ano', 'mes']]

In [25]:
precio_leche_pp_pib_shift3_mean = precio_leche_pp_pib[cc_cols].rolling(window=3, min_periods=1).mean().shift(1)

precio_leche_pp_pib_shift3_mean.columns = [x+'_shift3_mean' for x in precio_leche_pp_pib_shift3_mean.columns]
                                                 
precio_leche_pp_pib_shift3_std = precio_leche_pp_pib[cc_cols].rolling(window=3, min_periods=1).std().shift(1)

precio_leche_pp_pib_shift3_std.columns = [x+'_shift3_std' for x in precio_leche_pp_pib_shift3_std.columns] 

precio_leche_pp_pib_shift1 = precio_leche_pp_pib[cc_cols].shift(1)

precio_leche_pp_pib_shift1.columns = [x+'_mes_anterior' for x in precio_leche_pp_pib_shift1.columns]

In [26]:
feature_data = pd.concat([precio_leche_pp_pib['ano'], precio_leche_pp_pib['mes'], precio_leche_pp_pib_shift3_mean, precio_leche_pp_pib_shift3_std, precio_leche_pp_pib_shift1], axis = 1) 
feature_data = feature_data.dropna(how = 'any', axis = 0)
feature_data.head()

,ano,mes,Precio_leche_shift3_mean,Coquimbo_shift3_mean,Valparaiso_shift3_mean,Metropolitana_de_Santiago_shift3_mean,Libertador_Gral__Bernardo_O_Higgins_shift3_mean,Maule_shift3_mean,Biobio_shift3_mean,La_Araucania_shift3_mean,...,Imacec_empalmado_mes_anterior,Imacec_produccion_de_bienes_mes_anterior,Imacec_minero_mes_anterior,Imacec_industria_mes_anterior,Imacec_resto_de_bienes_mes_anterior,Imacec_comercio_mes_anterior,Imacec_servicios_mes_anterior,Imacec_a_costo_de_factores_mes_anterior,Imacec_no_minero_mes_anterior,num_mes_anterior
2,2014,3,216.025000,2.606765,5.384310,12.540671,6.049969,5.423727,27.935100,69.932688,...,93.500,98.200,94.200,91.800,107.454,102.175,88.800,93.710,93.400,92.800
3,2014,4,219.833333,2.483577,5.283571,10.161477,9.041716,14.042490,44.908196,89.326159,...,105.885,107.308,101.285,105.167,114.516,117.370,103.080,106.096,106.453,101.583
4,2014,5,226.316667,1.626952,5.172267,11.606219,13.289984,27.880982,64.130884,93.149279,...,103.133,100.710,97.400,103.903,100.708,106.543,105.138,103.606,103.829,96.300
5,2014,6,234.736667,1.892314,9.786650,25.666577,55.650021,85.055960,122.238522,162.420635,...,103.643,101.511,106.591,103.056,95.600,103.126,105.888,103.961,103.279,99.800
6,2014,7,240.066667,18.062876,43.381201,62.813563,112.804548,165.767288,216.011540,242.101211,...,100.806,96.100,103.228,96.600,89.500,94.700,105.880,101.116,100.508,94.600

In [27]:
precio_leche_pp_pib = pd.concat([precio_leche_pp_pib['Precio_leche'], precio_leche_pp_pib_shift3_mean, precio_leche_pp_pib_shift3_std, precio_leche_pp_pib_shift1], axis = 1) 
precio_leche_pp_pib = precio_leche_pp_pib.dropna(how = 'any', axis = 0)
precio_leche_pp_pib.head()

,Precio_leche,Precio_leche_shift3_mean,Coquimbo_shift3_mean,Valparaiso_shift3_mean,Metropolitana_de_Santiago_shift3_mean,Libertador_Gral__Bernardo_O_Higgins_shift3_mean,Maule_shift3_mean,Biobio_shift3_mean,La_Araucania_shift3_mean,Los_Rios_shift3_mean,...,Imacec_empalmado_mes_anterior,Imacec_produccion_de_bienes_mes_anterior,Imacec_minero_mes_anterior,Imacec_industria_mes_anterior,Imacec_resto_de_bienes_mes_anterior,Imacec_comercio_mes_anterior,Imacec_servicios_mes_anterior,Imacec_a_costo_de_factores_mes_anterior,Imacec_no_minero_mes_anterior,num_mes_anterior
2,227.45,216.025000,2.606765,5.384310,12.540671,6.049969,5.423727,27.935100,69.932688,97.720478,...,93.500,98.200,94.200,91.800,107.454,102.175,88.800,93.710,93.400,92.800
3,232.47,219.833333,2.483577,5.283571,10.161477,9.041716,14.042490,44.908196,89.326159,122.554802,...,105.885,107.308,101.285,105.167,114.516,117.370,103.080,106.096,106.453,101.583
4,244.29,226.316667,1.626952,5.172267,11.606219,13.289984,27.880982,64.130884,93.149279,128.269255,...,103.133,100.710,97.400,103.903,100.708,106.543,105.138,103.606,103.829,96.300
5,243.44,234.736667,1.892314,9.786650,25.666577,55.650021,85.055960,122.238522,162.420635,224.370767,...,103.643,101.511,106.591,103.056,95.600,103.126,105.888,103.961,103.279,99.800
6,238.39,240.066667,18.062876,43.381201,62.813563,112.804548,165.767288,216.011540,242.101211,306.731197,...,100.806,96.100,103.228,96.600,89.500,94.700,105.880,101.116,100.508,94.600

In [32]:
feature_data = feature_data.set_index(['ano', 'mes']).sort_index().reset_index()
feature_data.to_csv('saved/feature_data.csv', index=False)
feature_data.to_csv('/model/feature_data.csv', index=False)

In [48]:
precio_leche_pp_pib.to_csv('saved/precio_leche_pp_pib.csv', index=False)